{% extends 'base.html' %} 
{% block content %}
<!--
	<h1>
		welcome to home <font color="#8924FA">{{name}}</font>
	</h1>
	<h2>
		this is the full webpage
	</h2>
	<br>
	<a href="http://127.0.0.1:8000/about.html">see this webpage</a>-->
	<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                Search for Movie:
            </label>
            <input type="text" class="form-control" name="searchMovie"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>   
    <p>Searching for {{searchTerm}}</p>



    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}

        <div v-for="movie in movies" class="col">
        	<div class="card">
                <img class="card-img-top" src="{{ movie.image.url }}">
                <div class="card-body">
                <h5 class="card-title fw-bold">{{ movie.title}}</h5>
                <p class="card-text">{{ movie.description}}</p>
                <p class="card-text">{{ movie.year}}</p>
                <p class="card-text">{{ movie.genre}}</p>
                {% if movie.url %}
                    <a href="{{ movie.url }}"> Movie Link 
                    </a>
                {% endif %}
        </div>
        </div>
        </div>
        {% endfor %}
    </div>
    <br/>
</div>
{% endblock content %}